[Unit]
Description=containerd
Documentation=https://github.com/containerd/containerd
After=network.target

[Service]
ExecStart=/usr/local/bin/containerd
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
